In [5]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [13]:
import pandas as pd
url = 'https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/homeprices.csv'
df = pd.read_csv(url)

In [18]:
dfd=pd.get_dummies(df['town'])

In [22]:
df_dummies=pd.concat([df,dfd],axis='columns')

In [23]:
df_dummies

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [26]:
x=df_dummies.drop(['town',"price"],axis=1)

In [28]:
y=df['price']

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
le=LinearRegression()

In [31]:
le.fit(x,y)

LinearRegression()

In [32]:
le.coef_

array([   126.89744141, -21900.12900452,   3786.28251989,  18113.84648463])

In [34]:
le.predict([[3400,0,0,1]])

array([681241.66845839])

In [36]:
le.predict([[2800,0,1,0]])

array([590775.6396474])

In [37]:
import pickle

In [45]:
with open('model_pickle','wb')as file:
    pickle.dump(le,file)

In [ ]:
with open ('model_pickle','rb') as file:
    pickle.load(file)